<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/headfoot.css">
    <link rel="stylesheet" type="text/css" href="./css/history.css">
    <!--Google Web Font를 이용하기 위한 link들 삽입-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poiret+One&family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>KUPHIL</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body>
    <header>
        <div class="main_head">
            <div class="mainlogo">
                <a href="./"><img src="./image/main/page_logo_black.png" alt="KUPHIL 흰색로고"></a>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="./introduce">소개</a></li>
                    <li><a href="./archive">아카이브</a></li>
                    <li><a href="./qna">Q&A</a></li>
                    <li><a href="./gamecenter">놀이터</a></li>
                    <li><a href="./lab">실험실</a></li>
                </ul>
            </nav>
            <div class="ham">
                <span class="bar1"></span>
                <span class="bar2"></span>
                <span class="bar3"></span>
            </div>
            
            <div class="small_menu_open">
                <nav>
                    <ul>
                        <li><a href="./introduce">소개</a></li>
                        <li><a href="./archive">아카이브</a></li>
                        <li><a href="./qna">Q&A</a></li>
                        <li><a href="./gamecenter">놀이터</a></li>
                        <li><a href="./lab">실험실</a></li>
                    </ul>
                </nav>
            </div>
            <script>
                $(".ham").click(function(){
                    $(this).toggleClass("active");
                    $(".small_menu_open").toggleClass("active");
                });
            </script>
        </div>
        <div class="nav_notice">
            <p class="notice_title">
                <a href="./introduce" id="introduce_nav">소개</a>&ensp;ㅣ&ensp;<a href="./history" id="history_nav">연혁</a>
            </p>
            <p class="notice_exp">
                2003년 창단 이후의 활동을 살펴보세요.
            </p>
        </div>
    </header>
            
    <p id="SelectYear">
        <button class=Years id="year1" type="button">2003~</button>
        <button class=Years id="year2" type="button">2005~</button>
        <button class=Years id="year3" type="button">2010~</button>
        <button class=Years id="year4" type="button">2015~</button>
        <button class=Years id="year5" type="button">2020~</button>
    </p>

    <div id="historyyyyyyy" class="back">
        <div class="year1">
            <% for(let x = 0; x < 2; x++){ 
                if(activity.length ==0){ break; } else{ %>
                    <section><%=activity[0].year%></section>
                    <p>
                        <% for(let i = 0; i < activity.length; i++){
                            if(activity[0].year > 2003 + x){ break; } else{ %>
                                <span class="date"><%= activity[0].month %> <%= activity[0].day %></span> <span class="context"><%= activity[0].context %></span><br>
                            <% } activity.shift(); 
                        } %>
                    </p>
                <% } 
            } %>
        </div>

        <div class="year2">
            <% for(let x = 0; x < 5; x++){ 
                if(activity.length ==0){ break; } else{ %>
                    <section><%=activity[0].year%></section>
                    <p>
                        <% for(let i = 0; i < activity.length; i++){
                            if(activity[0].year > 2005 + x){ break; } else{ %>
                                <span class="date"><%= activity[0].month %> <%= activity[0].day %></span> <span class="context"><%= activity[0].context %></span><br>
                            <% } activity.shift(); 
                        } %>
                    </p>
                <% } 
            } %>
        </div>

        <div class="year3">
            <% for(let x = 0; x < 5; x++){ 
                if(activity.length ==0){ break; } else{ %>
                    <section><%=activity[0].year%></section>
                    <p>
                        <% for(let i = 0; i < activity.length; i++){
                            if(activity[0].year > 2010 + x){ break; } else{ %>
                                <span class="date"><%= activity[0].month %> <%= activity[0].day %></span> <span class="context"><%= activity[0].context %></span><br>
                            <% } activity.shift(); 
                        } %>
                    </p>
                <% } 
            } %>
        </div>   
        
        <div class="year4">
            <% for(let x = 0; x < 5; x++){ 
                if(activity.length ==0){ break; } else{ %>
                    <section><%=activity[0].year%></section>
                    <p>
                        <% for(let i = 0; i < activity.length; i++){
                            if(activity[0].year > 2015 + x){ break; } else{ %>
                                <span class="date"><%= activity[0].month %> <%= activity[0].day %></span> <span class="context"><%= activity[0].context %></span><br>
                            <% } activity.shift(); 
                        } %>
                    </p>
                <% } 
            } %>
        </div>
        
        <div class="year5">
            <% for(let x = 0; x < 5; x++){ 
                if(activity.length ==0){ break; } else{ %>
                <section><%=activity[0].year%></section>
                <p>
                    <% for(let i = 0; i < activity.length; i++){
                        if(activity[0].year > 2020 + x){ break; } else{ %>
                            <span class="date"><%= activity[0].month %> <%= activity[0].day %></span> <span class="context"><%= activity[0].context %></span><br>
                        <% } activity.shift(); 
                    } %>
                </p>
                <% } 
            } %>
        </div>
    </div>

    <div id="circle"></div>
    <div id="top_btn" style="cursor:pointer" onclick="window.scrollTo(0,0);">TOP</div>

    <footer>
        <div class="footer_section">
            <div class="footer_area">
                <div class="footer_logo">
                    <img src="./image/main/graylogo.png">
                    <img src="./image/main/무제.png">
                </div>
                <div class="footer_explain">
                    <p class="footer_use">이용 약관</p>
                    <p>서울특별시 광진구 능동로 120, 제2학생회관 B117호</p>
                    <p>후원 | ##은행 #####</p><br>
                    <p>copyright 2021 KUPHIL, All rights reserved.</p>
                </div>
                
            </div>
        </div>
    </footer>
</body>
<script src="./js/history.js" type="text/javascript"></script>
</html>