<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/headfoot.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <!--Google Web Font를 이용하기 위한 link들 삽입-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poiret+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="./favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>KUPHIL</title>
</head>

<body>
    <header>
        <div class="main_head">
            <div class="mainlogo">
                <a href="./"><img src="./image/main/page_logo_white.png" alt="KUPHIL 흰색로고"></a>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="./introduce">소개</a></li>
                    <li><a href="./archive">아카이브</a></li>
                    <li><a href="./qna">Q&A</a></li>
                    <li><a href="./gamecenter">놀이터</a></li>
                    <li><a href="./lab">실험실</a></li>
                </ul>
            </nav>
            <div class="small_menu">
                <p onclick="smallOpen();">≡</p>

            </div>
            <div class="small_menu_open">
                <p onclick="smallClose();">X</p>
                <nav>
                    <ul>
                        <li><a href="./introduce">소개</a></li>
                        <li><a href="./archive">아카이브</a></li>
                        <li><a href="./qna">Q&A</a></li>
                        <li><a href="./gamecenter">놀이터</a></li>
                        <li><a href="./lab">실험실</a></li>
                    </ul>
                </nav>
            </div>
            <script>
                let small_menu_open = document.getElementsByClassName("small_menu_open")[0];
                function smallOpen() {
                    small_menu_open.style.display = 'block';
                }
                function smallClose() {
                    small_menu_open.style.display = 'none';
                }
            </script>
        </div>
    </header>
            <!-- 메인 이미지 슬라이드 -->
    <div class="main_slide">
        <div class="slide_area">
            <ul>
                <li class="slide_list slide_main">
                    <img src="./image/main/mainslide.png" alt="제 38회 정기연주회 무대 단체사진">
                </li>
                <li class="slide_list">
                    <div class="slide_archive">
                        <div>
                            <img src="./image/poster/poster_<%=id_one%>.jpg" alt="제<%=id_one%>회 정기연주회 포스터">
                            <img src="./image/poster/poster_<%=id_two%>.jpg" alt="제<%=id_two%>회 정기연주회 포스터">
                        </div>
                        <div>
                            <p class="slide_archive_title">쿠필의 역대 연주회가<br>궁금하다면?!</p>
                            <p class="slide_archive_text"><a href="./archive">보러 가기 >></a></p>
                        </div>
                    </div>
                </li>
                <li class="slide_list">
                    <div class="slide_recru">

                    </div>
                </li>
            </ul>
        </div>
        <!-- <div onclick="prevSlide();" class="prev" ></div>
                <div onclick="nextSlide();" class="next"></div> -->
    </div>
    
    <section>

        <script>
            let index = 0;//이미지에 접근하는 인덱스
            window.onload = function () {
                slideShow();
            }
            let slide = document.getElementsByClassName("slide_list");
            function slideShow() {
                slide[index].style.opacity = "0";
                slide[index].style.zIndex = "0";
                index=0;
                slide[0].style.opacity = '1';
                slide[0].style.zIndex = "1";
                setTimeout(slideNext, 4000);//함수를 4초마다 호출
            }
            function slideNext(){
                
                slide[index].style.opacity = "0"; //해당 인덱스는 opacity 0
                slide[index+1].style.opacity = "1";
                slide[index].style.zIndex = "0";
                slide[index+1].style.zIndex = "1";
                index++;
                if(index == slide.length - 1){
                    
                    setTimeout(slideShow, 4000);//함수를 4초마다 호출
                }
                else{
                    setTimeout(slideNext, 4000);//함수를 4초마다 호출
                }

            }
            // const TimeoutId = setTimeout(() => console.log('timeout'), 1000);


            // function prevSlide(){
            //     for (let i = 0; i < TimeoutId; i++) {
            //         clearTimeout(i);
            //     }
            //     if(index == 0){
            //         index = 1;
            //         slideNext();
            //     }
            //     else{
            //         index--;
            //         slideNext();
            //     }
            // }
            // function nextSlide(){
            //     for (let i = 0; i < TimeoutId; i++) {
            //         clearTimeout(i);
            //     }
            //     if(index == slide.length - 1){
            //         index = 0;
            //         slideShow();
            //     }
            //     else{
            //         slideNext();
            //     }
                
            // }
        </script>
        
        <div class="row_3rd">
            <div class="main_wea">
                <div class="wea">
                    <img id="weather_icon">
                </div>
                <p class="wea_detail">
                    <span id="weather_temp"></span>
                    <span id="weather_desc"></span>
                    <span id="weather_humidity"></span>
                    <span id="weather_precipitation"></span>
                    <span id="weather_info">건국대학교 기준</span>
                </p>
            </div>
        </div>
        <div class="row_1st">
            <div class="main_coming">
                <div class="coming_explain">
                    <p class="coming_title">Upcoming Event</p>
                </div>
                <div class="coming_area">
                    <article>
                        <img src="./image/main/이벤트준비중.png" alt="준비중">
                        <div>
                            <p class="coming_article_title">2022년 창립제</p>
                            <p class="coming_article_sub">일시</p>
                            <p class="coming_article_text">2022.11.03 18:00</p>
                            <p class="coming_article_sub">장소</p>
                            <p class="coming_article_text">건국대학교 학관 2층 PRIME홀</p>
                            <p class="coming_article_sub">내용</p>
                            <p class="coming_article_text">쿠필의 창립일을 기념하여 학생들이 팀을 꾸려 연주하는 행사입니다!</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="row_2nd">
            <div class="main_recent">
                <div class="recent_explain">
                    <p class="recent_title">Recent Concert</p>
                </div>
                <div class="recent_content">
                    <div>
                        <iframe src="https://www.youtube.com/embed/qlydoTS6_NY" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
        <div class="row_0">
            <div class="main_tip">
                <div class="tip_explain">
                    <div>
                        <p class="tip_contents">
                            Tip) <%= tip %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row_4th">
            <div class="main_suggest">
                <div class="suggest_explain">
                    <p class="suggest_title">제휴 제안</p>
                </div>
                <a href="./cooperation">
                    바로 가기 >>
                </a>
                <div class="suggest_image">
                    <img src="./image/suggest.jpg" alt="제휴제안">
                </div>
            </div>
            <div class="main_sns">
                <div class="sns_explain">
                    <p class="sns_title">쿠필 sns</p>
                </div>
                <div class="show">
                    <a href="https://www.youtube.com/channel/UCyG3uwmWmLt8tYNOJ3I1QYA"><img src="./image/유튜브2.png"
                            alt="유튜브"></a>
                    <a href="https://www.instagram.com/kuphilharmonic/?hl=ko" target="_blank"><img
                            src="./image/인스타그램1.png" alt="인스타그램"></a>
                    <a href="https://www.facebook.com/KUPhilharmonic/" target="_blank"><img src="./image/페이스북.png"
                            alt="페이스북"></a>
                </div>
            </div>
        </div>
        <script>
            function getTime() {
                let time = document.getElementById("time");
                let date = new Date();
                let todayYear = date.getFullYear();
                let todayMonth = date.getMonth() + 1;
                let todayDate = date.getDate();
                const week = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
                let dayOfWeek = week[date.getDay()];
                let hour = date.getHours();
                let minute = date.getMinutes();
                //let second = date.getSeconds();

                // time.innerHTML = String(todayYear) + "년 " + String(todayMonth) + "월 " + String(todayDate) + "일 ";

            }
            function getWeather() {
                fetch(
                    'https://api.openweathermap.org/data/2.5/weather?lat=37.543786&lon=127.073463&lang=kr&appid=c7f2c867ba8c30eb3e96bc0236f31cdf'
                )
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (json) {
                        let date = new Date();
                        let hour = date.getHours();
                        console.log(json);
                        let weather_icon = document.getElementById('weather_icon');
                        let weather_desc = document.getElementById('weather_desc');
                        let weather_temp = document.getElementById('weather_temp');
                        let weather_humidity = document.getElementById('weather_humidity');
                        let weather_precipitation = document.getElementById('weather_precipitation');

                        let weatherDesc = json.weather[0].main;
                        //const weatherIcon = json.weather[0].icon;
                        let weatherIconAdrs;
                        let weatherTemp = json.main.temp;
                        weatherTemp = (weatherTemp - 273.15);
                        let weatherHumidity = json.main.humidity;
                        let weatherPrecipitation;

                        //늘 일정하게 소수 첫째 자리까지 출력하도록 한다. 일단은 반올림을 고려하지 않는다. (if 문 내에서 문자열과 숫자를 왔다갔다하면 코드만 복잡해지기 때문)
                        if ((weatherTemp >= 10.0) || ((weatherTemp < 0.0) && (weatherTemp > -10.0))) {
                            weatherTemp = String(weatherTemp).slice(0, 4);
                        }
                        else if (weatherTemp <= -10.0) {
                            weatherTemp = String(weatherTemp).slice(0, 5);
                        }
                        else {
                            weatherTemp = String(weatherTemp).slice(0, 3);
                        }

                        //날씨 설명을 아주 세세하게 할 필요는 없으므로 weather[0].main을 번역.
                        switch (weatherDesc) {
                            case 'Thunderstorm':
                                weatherDesc = "뇌우(천둥번개를 동반한 비)";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/storm.png";
                                break;

                            case 'Drizzle':
                                weatherDesc = "이슬비";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/rain.png";
                                break;

                            case 'Rain':
                                weatherDesc = "비";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/heavy-rain.png";
                                break;

                            case 'Snow':
                                weatherDesc = "눈";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/snow.png"
                                break;

                            case 'Mist':
                                weatherDesc = "엷은 안개(박무)";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/dust.png";
                                break;

                            case 'Smoke':
                                weatherDesc = "연기로 가득 참";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/dust.png";
                                break;

                            case 'Haze':
                                weatherDesc = "대기가 나빠서 생기는 안개(연무)";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/dust.png";
                                break;

                            case 'Dust':
                                weatherDesc = "먼지 날림";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/dust.png";
                                break;

                            case 'Fog':
                                weatherDesc = "짙은 안개";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/dust.png";
                                break;

                            case 'Sand':
                                weatherDesc = "황사";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/dust.png";
                                break;

                            case 'Ash':
                                weatherDesc = "재로 가득 참";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/dust.png";
                                break;

                            case 'Squall':
                                weatherDesc = "스콜";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/heavy-rain.png";
                                break;

                            case 'Tornado':
                                weatherDesc = "토네이도";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/tornado.png";
                                break;

                            case 'Clear':
                                weatherDesc = "맑음";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/sun--v1.png"
                                if ((hour < 6) || (hour > 17)) {
                                    weatherIconAdrs = "https://img.icons8.com/office/80/000000/bright-moon.png"
                                }
                                break;

                            case 'Clouds':
                                weatherDesc = "흐림";
                                weatherIconAdrs = "https://img.icons8.com/office/80/000000/clouds.png"
                                if ((hour < 6) || (hour > 17)) {
                                    weatherIconAdrs = "https://img.icons8.com/office/80/000000/partly-cloudy-night--v1.png";
                                }
                                break;
                        }

                        if (weatherDesc == '비') {
                            weatherPrecipitation = json.rain["1h"];
                        }

                        else if (weatherDesc == '눈') {
                            weatherPrecipitation = json.snow["1h"];
                        }

                        else {
                            weatherPrecipitation = 0;
                        }

                        //const weatherIconAdrs = 'http://openweathermap.org/img/wn/' + weatherIcon + '@2x.png';
                        weather_icon.setAttribute('src', weatherIconAdrs);
                        weather_desc.innerHTML = weatherDesc;
                        weather_temp.innerHTML = weatherTemp + "°";
                        weather_humidity.innerHTML = "습도 " + weatherHumidity + "%";
                        weather_precipitation.innerHTML = "강수량 " + weatherPrecipitation + "mm";
                    })
            }

            //최초 시간, 날씨 정보 받아오기
            getTime();
            getWeather();

            //timer 돌리기. 굳이 초까지 출력할 필요는 없고 대신 시간은 정확하게 받아와야 하므로 1초마다 다시 실행해준다.
            //weather도 초 단위로 받아오면 서버에 부담이 갈 수 있으므로 1분마다 받아오도록 만든다. 하지만 정확성은 아주 약간 떨어질 수 있음.
            //서버만 괜찮으면 초 단위로 받아오는 게 가장 좋을 거 같다.
            var i = 0;
            setInterval(function () {
                getTime();
                i = i + 1;
                if (i == 60) {
                    i = 0;
                    getWeather();
                }
            }, 1000);
        </script>
    </section>
    <footer>
        <div class="footer_section">
            <div class="footer_area">
                <div class="footer_logo">
                    <img src="./image/main/graylogo.png">
                    <img src="./image/main/무제.png">
                </div>
                <div class="footer_explain">
                    <a class="footer_use" href="./policy">이용 약관</a>
                    <p>서울특별시 광진구 능동로 120, 제2학생회관 B117호</p>
                    <p>후원 | ##은행 #####</p><br>
                    <p>copyright 2021 KUPHIL, All rights reserved.</p>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>